
body.no-scroll video.html5-main-video.ytext-open{
    left: 0px !important;
    width: 80% !important;
    /*height: auto !important;*/
    transition: width 0.72s;
}
body.no-scroll video.html5-main-video.ytext-close{
    left: auto !important;
    width: 100% !important;
    transition: width 1s;
}
body.no-scroll .ytp-fit-cover-video .html5-main-video {
    object-fit: contain;
}
body.no-scroll #chatbox{

}
body.no-scroll #chatbox.ytext-cbopen{
    background: #181818;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    right: 0px;
    width: calc(20% - 22px);
    position: absolute;
    height: 75%;
    top:50%;
    transform: translateY(-50%);
    z-index: 99;
    transition: width 0.72s;
}
body.no-scroll #chatbox.ytext-cbclose{
    background: #181818;
    right: 0px;
    width: 0%;
    position: absolute;
    height: 75%;
    top:50%;
    transform: translateY(-50%);
    z-index: 99;
    transition: width 1s;
}
body.no-scroll #chatbox iframe#chatframe{
    height: 100% !important;
}

body.no-scroll #hide-chat{
    background: #181818;
    top:50%;
    transform: translateY(-50%);
    position: absolute;
    color: white;
    margin-left: -25px;
    border-radius: 50%;
    text-align: left;
    width: 40px;
    height: 40px;
    z-index: 100;
}
#hide-chat img {
    top:50%;
    transform: translateY(-50%);
    position: absolute;
    padding: 5px;
    height:50%;
    aspect-racio:1;
    filter: invert(100%);
}
